body {
    background-image: url("./windows-98-background.jpg");
}

.startbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    height: 40px;
    width: 100vw;
    background-color: lightgray;
    border-top: 2px solid white;
    padding: 3px;

    &__button {
        border: 2px solid black;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        text-align: right;
        padding: 8px;
        font-weight: bold;
        width: 65px;
        background-image: url("./98-start-logo.png");
        background-size: auto 70%;
        background-position: 5% 50%;
        background-repeat: no-repeat;
    }
}

.start-container {
    background-color: lightgray;
    position: absolute;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    bottom: 35px;
    left: 3px;
    opacity: 0;
    pointer-events: none;

    &__link {
        font-family: sans-serif;
        font-weight: lighter;
        list-style-type: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 70px;
        font-size: 13px;
        margin-left: 25px;
        padding-inline-start: 0px;
    }
}

.start-container.show {
    opacity: 1;
    pointer-events: auto;
}

ul {
    padding-inline-start: 0px;
}

.apps-container {
    position: fixed;
}

.app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;

    &__btn {
        border: none;
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        text-align: right;
        padding: 8px;
        font-weight: bold;
        background-color: transparent;
    }
}

.AoE-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.AoE-container.start {
    opacity: 1;
    pointer-events: auto;
}

// fix styling/add class link under startbar styling
// styling for time
p {
    color: black;
    position: fixed;
    bottom: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 2px;
    right: 0;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    text-align: right;
    padding: 4px;
    font-weight: bold;
    width: 70px;
}

// Notepad modal styling

.window-notepad {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
        inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    position: fixed;
    width: 40%;
    height: 40%;
    top: 25%;
    left: 30%;
    opacity: 0;
    pointer-events: none;

    &__body {
        background: silver;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
            inset -2px -2px grey, inset 2px 2px #fff;
        padding: 3px;
        height: 470px;
    }

    &__text {
        width: 100%;
        height: 470px;
        border: none;
        outline: none;
        resize: none;
    }
}

.title-bar-notepad {
    align-items: center;
    background: linear-gradient(90deg, navy, #1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;

    &__text {
        font-weight: bold;
        color: white;
        letter-spacing: 0;
        margin-right: 24px;
    }

    &__navigation {
        display: flex;
    }

    button {
        padding: 0;
        display: block;
        min-width: 16px;
        min-height: 14px;
    }
}

.window-notepad.start1 {
    opacity: 1;
    pointer-events: auto;
}

// .notepad-container {
//     background-color: white;
//     height: 400px;
//     width: 200px;
//     position: fixed;
//     width: 40%;
//     top: 25%;
//     left: 50%;
//     padding: 20px;
//     transform: translate(-50%, 0);
//     border: none;
//     outline: none;
//     resize: none;
//     opacity: 0;
//     pointer-events: none;
//     font-family: sans-serif;
// }

// .notepad-container.start1 {
//     opacity: 1;
//     pointer-events: auto;
// }

// Internet Explorer modal styling

.window {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
        inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    position: fixed;
    width: 40%;
    height: 40%;
    top: 25%;
    left: 30%;
    opacity: 0;
    pointer-events: none;

    &__body {
        background: silver;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
            inset -2px -2px grey, inset 2px 2px #fff;
        padding: 3px;
    }
}

.title-bar {
    align-items: center;
    background: linear-gradient(90deg, navy, #1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;

    &__text {
        font-weight: bold;
        color: white;
        letter-spacing: 0;
        margin-right: 24px;
    }

    &__navigation {
        display: flex;
    }

    button {
        padding: 0;
        display: block;
        min-width: 16px;
        min-height: 14px;
    }
}

.window.start2 {
    opacity: 1;
    pointer-events: auto;
}
